@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001427;
  color: #fff;
}

.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
