.card-left-panel,
.card-right-panel {
  border-radius: 10px;
  background-color: var(--color-secondary);
  padding: 15px;
  margin: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  box-sizing: border-box;
}

.card-left-panel {
  height: 100%;
  width: 25vw;
}

.card-right-panel {
  height: 100%;
  margin-left: 0;
  width: 75vw;
}
