.popular, .trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
}

.popular img,
.trending img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}

.artists img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}

.popular:hover,
.trending:hover
{
  transform: scale(1.05);
  background-color: #17273c;
}

.popular div,
.trending div
{
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  margin-bottom: 10px;
}

.popular div p,
.trending div p
{
  font-size: small;
}

a {
  display: inline-block;
}
